



<style>
  .btn-outline-search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-outline-search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .btn-outline-search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  .navbar-brand span {
    color: #fe424d;
    font-weight: 700;
    font-size: 1.25rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">

    <!--  Brand + Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/listings">
     
      <span>Luxe</span>
    </a>

    <!--  Hamburger button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible section -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!--  Search Bar -->
      <div class="navbar-nav ms-auto me-3">
        <form class="d-flex" role="search" action="/listings/search" method="GET">
          <input
            class="form-control me-2 search-inp"
            type="search"
            name="q"
            placeholder="Search destination"
            required
          />
          <button class="btn btn-outline-search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <!--  Navigation Links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>

        <% if (!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>









